<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.backstagesupporters.fasttrack"
    >

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme"
        android:hardwareAccelerated="true"
        >

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".service.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            tools:targetApi="q" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <!-- The API key for Google Maps-based APIs. -->
        <!--
         <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOMJanUWPuOAp067zCfs2_lR4Wxw6uPeQ" />

        <!-- Google Play services version number -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@string/google_crash_reporting_api_key" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.user.LoginsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ui.user.ForgetActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity
            android:name=".ui.user.OtpActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.OnboardingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.LanguageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <activity
            android:name=".ui.activity.LiveTrackingAllActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />


        <activity
            android:name=".ui.user.ForgotPassActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <activity
            android:name=".ui.user.RegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <activity
            android:name=".ui.activity.ProfileEditActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.AddVehicleActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.AddDriverActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.EditDriverActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.AddDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.DeleteDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.SuspendDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.SubUserActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.LiveTrackingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.SpeedLimitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.VehicleHomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.history.TripDetailsFragment"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <activity
            android:name=".ui.myMap.MyHomeMapActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.RoadSideAssistanceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.DistanceReportViewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.TripReportViewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.TripReportActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.DistanceReportActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.history.HistoryReplayActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.AllActivitiesActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.AddSubUser"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ui.activity.ComplaintActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
<!--         <meta-data-->
<!--             android:name="com.google.firebase.messaging.default_notification_color"-->
<!--             android:resource="@color/colorAccent" />-->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data android:name="firebase_analytics_collection_deactivated"
            android:value="false"
            tools:replace="android:value"
            />

 <!-- <service
            android:name="com.backstagesupporters.fasttrack.notification.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.MyFirebaseInstanceIDService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.MyFirebaseInstanceService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".notification.SaveFCMTokenService" />


    </application>

</manifest>